[tool.poetry]
name = "podaac-tig"
version = "0.5.0-alpha.19"
description = "Tool for Image Generation (TIG)"
authors = ["podaac-tva <podaac-tva@jpl.nasa.gov>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.jpl.nasa.gov/podaac/tig"
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules"
]
exclude = ['contrib', 'docs', 'tests']
packages = [
    { include = "podaac" },
]

[tool.poetry.dependencies]
python = "^3.8"
numpy = "^1.22.3"
matplotlib = "3.5.1"
netCDF4 = "^1.5.8"
xarray = "^2022.3.0"
imageio = "^2.16.1"
pygeogrids = "^0.4.1"
cumulus-process = "^1.0.0"
requests = "^2.27.1"

[tool.poetry.dev-dependencies]
pytest = "^6.1"
flake8 = "^4.0.1"
pytest-cov = "^3.0.0"
pylint = "^2.13.5"
Sphinx = "^4.5.0"
moto = "^3.1.4"
mock = "^4.0.3"

[tool.poetry.scripts]
tig = 'podaac.tig.cli:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
